## Personal information

In [19]:
name=input("please enter your name here :")
age=int(input("please enter your age here :"))
adress=input("please enter your complete adress here :")
edu=input("please enter your Qualification Here :")
uni=input("please enter your universcity name Here :")
print('='*40)
print("Hi",name)
print(name,"your  are : ", age ,"year old")
print("belong to : ",adress)
print("Your education is : ",edu )
print("Read in",uni)
print('='*40)

please enter your name here :irfan ullah
please enter your age here :19
please enter your complete adress here :jandola karriwam Fr Tank
please enter your Qualification Here :FSc
please enter your universcity name Here :IMSCIENCES peshawar
========================================
Hi irfan ullah
irfan ullah your  are :  19 year old
belong to :  jandola karriwam Fr Tank
Your education is :  FSc
Read in IMSCIENCES peshawar
========================================

### String  with Qotation marks

In [22]:
print('irfanullah')

irfanullah

In [21]:
print("irfanullah ")

irfanullah

In [20]:
print('''irfanullah''')

irfanullah

### Multiline string we use three quatation marks

In [23]:
# this show multiline cose in one statment
print('''hello
"irfan"
how are you''')

hello
"irfan"
how are you

## / this give result in floating number

In [24]:
ob_marks=int(input("enter the obtain marks :"))
total_marks=int(input("enter the obtain marks :"))
result=ob_marks/total_marks
print(result)
print("====================================================")
print ("the result will be in floating point",format(result,".2f"))

enter the obtain marks :234
enter the obtain marks :550
0.4254545454545455
====================================================
the result will be in floating point 0.43

## // not give result in floating number

In [26]:
ob_marks=int(input("enter the obtain marks :"))
total_marks=int(input("enter the total marks :"))
result=ob_marks//total_marks
print (result)

enter the obtain marks :234
enter the total marks :550
0

## program for shope which give 20% discounton on all items

In [27]:
orignal_price=int(input("Enter the orignal price of All items  :"))
discount=20
discount_price=orignal_price*discount/100
payable_money=orignal_price-discount_price
print(" Congratulations you got ",discount_price,"pkr Discount")
print("You have to pay only",payable_money,"pkr")

Enter the orignal price of All items  :3456
 Congratulations you got  691.2 pkr Discount
You have to pay only 2764.8 pkr

## write a program that get the 3 test score from the user and give average  of tests score

In [28]:
test_1=int(input('enter the score of the first test  :'))
test_2=int(input('enter the score of the second  test  :'))
test_3=int(input('enter the score of the third test  :'))

sum_of_all_test_score=test_1+test_2+test_3
divide=3

result=sum_of_all_test_score/divide
print("the total obtain score in 3 tests are :",sum_of_all_test_score)
print("the average score of the 3 tests are :",result)

enter the score of the first test  :34
enter the score of the second  test  :98
enter the score of the third test  :76
the total obtain score in 3 tests are : 208
the average score of the 3 tests are : 69.33333333333333

## Get the  DESSIRE  future value  of  investment

In [31]:
future_value=int(input("Enter the desire future value"))
intrest_rate=float(input("Enter thhe intrst rate "))
years=int(input("Enter the years for which you want to stack you money "))

present_value=future_value/(1+intrest_rate)**years

print("you have to invest only :",present_value," pkr")

Enter the desire future value10000
Enter thhe intrst rate 3.5
Enter the years for which you want to stack you money 2
you have to invest only : 493.82716049382714  pkr

## SMALL COADING PROJECTS :

##   Sales Prediction

In [32]:
Total_Sales=int(input("Enter the total sales of years : "))
profit_percentage=int(input("Enter the profit % of the year : "))
profit=Total_Sales*profit_percentage/100
print("your profit is : ",profit)

Enter the total sales of years : 2000000
Enter the profit % of the year : 30
your profit is :  600000.0

## Pounds to Kilograms

In [33]:
convertion_factor=0.454
print("the convertion factor  is : ",convertion_factor)
mass_in_pound=float(input("Enter the mass in pound : "))
mass_in_kilogram=convertion_factor*mass_in_pound
print(f"{mass_in_pound}  pound is equall to   {mass_in_kilogram:.2f}    kilogram")

the convertion factor  is :  0.454
Enter the mass in pound : 1234
1234.0  pound is equall to   560.24    kilogram

## Total Purchase

In [36]:
item_1=int(input ("Enter the price of item 1 : " ))
item_2=int(input ("Enter the price of item 2 : " ))
item_3=int(input ("Enter the price of item 3 : " ))
item_4=int(input ("Enter the price of item 4 : " ))
item_5=int(input ("Enter the price of item 5 : " ))
sale_tax=int(input("Enter the sales tax : "))

sub_total=item_1+item_2+item_3+item_4+item_5
sales_tax=sub_total*sale_tax/100
print('-'*40)
print("the sales tax are : ",sales_tax)
print("the total amount before tax : ",sub_total)

total=sub_total+sales_tax
print("Total : ",total)
print("THANKS FOR SHOPING FROM JAN's MEDICINES ")
print('-'*40)

Enter the price of item 1 : 567
Enter the price of item 2 : 232
Enter the price of item 3 : 77
Enter the price of item 4 : 908
Enter the price of item 5 : 675
Enter the sales tax : 55
----------------------------------------
the sales tax are :  1352.45
the total amount before tax :  2459
Total :  3811.45
THANKS FOR SHOPING FROM JAN's MEDICINES
----------------------------------------

## Distance Traveled

In [39]:
time_str = input("Enter the time of Travelling a Car : ")
time = float(time_str)

speed = int(input("Enter the speed of a car : "))
distance = time * speed

print("--------------------------------------------------")
print("TOTAL TRAVELLING TIME :", time)
print("Speed of car per hr", speed)
print("Distance travelled :", distance)
print('-'*50)

Enter the time of Travelling a Car : 7
Enter the speed of a car : 67
--------------------------------------------------
TOTAL TRAVELLING TIME : 7.0
Speed of car per hr 67
Distance travelled : 469.0
--------------------------------------------------

##  Payment Instalments

In [40]:
purchase_price=int(input("Enter the amount of purchased object : "))
installment=int(input("Enter the No installment : "))
intresr_rate=int(input("Enter the intrest rate "))
intrest=purchase_price*intresr_rate/100
print('-'*45)
print("The intrest amount is :",intrest)
total=purchase_price+intrest
print("The total price of purchased Object :",total)
pay_installment=total/installment 
print("You have to pay : ",pay_installment,"in each installment ")
print('-'*45)

Enter the amount of purchased object : 100000
Enter the No installment : 12
Enter the intrest rate 7
---------------------------------------------
The intrest amount is : 7000.0
The total price of purchased Object : 107000.0
You have to pay :  8916.666666666666 in each installment
---------------------------------------------

## Miles-per-Gallon

In [15]:
miles_driven=int(input("Enter the mile which You have driven : "))
gallons_gas_used=float(input("Enter the amount of Gas Used : "))
MPG = miles_driven / gallons_gas_used
print('-'*35)
print("miles Driven : ",miles_driven)
print("Gallon of Gas used",gallons_gas_used)
print("Gallon of Gas used for each mile",format(MPG,".2f"))

Enter the mile which You have driven : 5000
Enter the amount of Gas Used : 2346
-----------------------------------
miles Driven :  5000
Gallon of Gas used 2346.0
Gallon of Gas used for each mile 2.13

## Tip, Tax, and Total amount of meal

In [21]:
meal_price=int(input("Enter the amount of purchased meal :"))
tips=int(input("Enter the % of tip :"))
sales_taxs=int(input("Enter the % of sales_tax :"))
tip=meal_price*tips/100
sales_tax=meal_price*sales_taxs/100
print('-'*40)
print('purchased meal : ',meal_price)
print('the tip % : ',tips)
print('The sales tax % :', sales_taxs)
print('The Tip You have to pay are : ', tip)
print('The sales Tax are : ',sales_tax)
total =meal_price+sales_tax+tip
print('total amount you have to pay : ',total)
print('-'*40)

Enter the amount of purchased meal :50000
Enter the % of tip :17
Enter the % of sales_tax :8
----------------------------------------
purchased meal :  50000
the tip % :  17
The sales tax % : 8
The Tip You have to pay are :  8500.0
The sales Tax are :  4000.0
total amount you have to pay :  62500.0
----------------------------------------

## Circle Measurements

In [4]:
import math

In [5]:


radius=float(input("Enter the radius of Circle : "))
# area of circumference 
circumfarance_circle=2*math.pi*radius
# area of circle
area_circle=math.pi * radius**2 
print('-'*40)
print("The Radius of circle is : ",radius)
print("The circumfarance of Circle is : ",format(circumfarance_circle,".2f"))
print("The area of circle is : ",format(area_circle,".2f"))
print('-'*40)

Enter the radius of Circle : 56.8
----------------------------------------
The Radius of circle is :  56.8
The circumfarance of Circle is :  356.88
The area of circle is :  10135.53
----------------------------------------

##  Ingredient Adjuster

In [6]:
#cup_of_sugar=1.5
#cup_of_butter=1
#cup_of_flour=2.75
desire_cookies=int(input("Enter the No of cookies you need : "))
butter_ratio=0.021
flour_ratio=0.057
sugar_ratio=0.031
required_sugar=sugar_ratio*desire_cookies
required_flour=flour_ratio*desire_cookies
required_butter=butter_ratio*desire_cookies
print('-'*50)
print("For the ",desire_cookies," Cookies you Required the following quantities :")
print("Sugar Required : ",format(required_sugar,".2f"))
print("Flour Required : ",format(required_flour,".2f"))
print("Butter Required : ",format(required_butter,".2f"))
print('-'*50)

Enter the No of cookies you need : 122
--------------------------------------------------
For the  122  Cookies you Required the following quantities :
Sugar Required :  3.78
Flour Required :  6.95
Butter Required :  2.56
--------------------------------------------------

## Male and Female Percentages in class

In [16]:
male_std=int(input("Enter the number of male students : "))
female_std=int(input("Enter the number of female students : "))
total=male_std+female_std
male_percentage=male_std/total*100
female_percentage=female_std/total*100
print('-'*60)
print("The Total number of students are : ",total)
print("The male students are :",format(male_percentage,".2f"),"% And ",format(female_percentage,".2f"),"% are female students")
print('-'*60)

Enter the number of male students : 234
Enter the number of female students : 765
------------------------------------------------------------
The Total number of students are :  999
The male students are : 23.42 % And  76.58 % are female students
------------------------------------------------------------